{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Add Category{% endblock %}

{% block body_block %}
        <div class="page-header">
            <h1>Add a Category</h1>
        </div>

          <form role="form"  id="category_form" method="post" action="{% url 'add_category' %}">
            <h2 class="form-signin-heading">Add Category</h2>

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

               <br/>
            <button class="btn btn-primary" type="submit" name="submit">Add Category</button>
        </form>
{% endblock %}