{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body_block %}
        <!-- Special message if user has logged in -->
        {% if user.is_authenticated %}
            <h1>Rango says... hello {{ user.username }}!</h1>
        {% else %}
            <h1>Rango says... hello world!</h1>
        {% endif %}
        <br>
        <h3> Top 5 Categories </h3>        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}                
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        <h3> Top 5 Pages </h3>
        {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}                
            </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}

{% endblock %}