{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body_block %}
    <div class="page-header">
        <!-- Special message if user has logged in -->
        {% if user.is_authenticated %}
            <h1>Rango says... hello {{ user.username }}!</h1>
        {% else %}
            <h1>Rango says... hello world!</h1>
        {% endif %}
    </div>
        <br>
<div class="row placeholders">
    <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3> Top 5 Categories </h3>
            </div>
            {% if categories %}
            <ul class="list-group">
                {% for category in categories %}
                <li class="list-group-item"><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}                
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>
    </div>


<div class="col-xs-12 col-sm-6 placeholder">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3> Top 5 Pages </h3>
        </div>
        {% if pages %}
            <ul class="list-group">
                {% for page in pages %}
                <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}                
            </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
    </div>
</div>

{% endblock %}