<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Login to Rango</h1>

        <!-- Only displayed if they have entered the wrong details!-->
        {% if message %}
            <p style="color:red"><b>{{message }}</b></p><br />
        {% endif %}

        <form id="login_form" method="post" action="/rango/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>

    </body>
</html>