{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block body_block %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">

    <div class="page-header">
        <h1>Login to Rango</h1>
    </div>
        <!-- Only displayed if they have entered the wrong details!-->
        {% if message %}
            <p style="color:red"><b>{{message }}</b></p><br />
        {% endif %}

        <form class="form-signin" role="form" id="login_form" method="post" action="{% url 'auth_login' %}">
            {% csrf_token %}
            <input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
            <input type="password" class="form-control" placeholder="Password" id="id_password" name="password" type="password" required />

        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />Sign in</button>
        </form>

{% endblock %}